.page {
  min-width: 320px;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  color: #fff;
  background-color: #2a2c2f;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}