.lead {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 92px;
  box-sizing: border-box;
}

@media screen and (max-width: 1150px) {
  .lead {
    max-width: 928px;
  } 
}

@media screen and (max-width: 900px) {
  .lead {
    margin-bottom: 64px;
    max-width: 768px;
  }
}