.place {
  margin: 0 0 80px;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-areas: 
    "title website"
    "image text";
  gap: 48px 40px;
  box-sizing: border-box;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1150px) {
  .place {
    grid-template-columns: 440px 456px;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 900px) {
  .place {
    margin-bottom: 72px;
    grid-template-columns: 340px 352px;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 720px) {
  .place {
    margin-bottom: 50px;
    grid-template-columns: 320px;
    grid-template-areas: 
      "title"
      "website"
      "image"
      "text";
      row-gap: 32px;
  }
}